* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #1e202a;
  color: #8b97c6;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  width: 80vw;
  max-width: 1200px;
  padding: 2rem 1rem; }

.positive-change {
  color: #1db489; }
  .positive-change::before {
    content: url(/images/icon-up.svg);
    margin-right: 5px; }

.negative-change {
  color: #dc414c; }
  .negative-change::before {
    content: url(/images/icon-down.svg);
    margin-right: 5px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }
  .header__title {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.5rem; }
  .header__total {
    font-weight: 700; }
  .header__toggle {
    color: #fff; }

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem; }
  .main-cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252a41;
    padding: 1.5rem 2rem;
    border-radius: 7px;
    flex: 1; }
  .main-cards__handle {
    display: flex;
    align-items: center; }
    .main-cards__handle-text {
      margin-left: 0.5rem;
      font-weight: 700; }
  .main-cards__number {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    padding: 1rem 0 0 0; }
  .main-cards__follower {
    text-transform: uppercase;
    padding-bottom: 1rem;
    letter-spacing: 5px; }

#facebook {
  border-top: #198ff5 4px solid; }

#twitter {
  border-top: #1ca0f2 4px solid; }

#youtube {
  border-top: #c4032a 4px solid;
  margin-right: 0; }

.overview {
  margin-top: 2rem; }
  .overview__title {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .overview__grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }
  .overview__card {
    background: #252a41;
    display: grid;
    justify-content: space-between;
    grid-gap: 2rem;
    grid-template-areas: "text social-icon" "number change";
    border-radius: 7px;
    padding: 1rem; }
    .overview__card-text {
      grid-area: text;
      font-weight: 700; }
    .overview__card-social-icon {
      grid-area: social-icon;
      justify-self: end; }
    .overview__card-number {
      grid-area: number;
      font-size: 2rem;
      color: #fff;
      font-weight: 700;
      align-self: flex-end; }
    .overview__card-change {
      grid-area: change;
      align-self: flex-end; }

@media (max-width: 1100px) {
  body {
    height: auto; } }
