* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(#1f212e, #1f212e 30%, #1e202a 30%);
  color: #8b97c6;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  width: 90vw;
  max-width: 1200px;
  padding: 2rem 1rem; }

.positive-change {
  color: #1db489; }
  .positive-change::before {
    content: url(/images/icon-up.svg);
    margin-right: 5px; }

.negative-change {
  color: #dc414c; }
  .negative-change::before {
    content: url(/images/icon-down.svg);
    margin-right: 5px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; }
  .header__title {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 2rem; }
  .header__total {
    font-size: 1rem; }
  .header__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; }
    .header__toggle-text {
      font-size: 1rem;
      color: #8b97c6; }
    .header__toggle-btn {
      position: relative;
      width: 4rem;
      height: 2rem;
      -webkit-appearance: none;
      background: linear-gradient(to right, #378fe6, #3eda82);
      outline: none;
      border-radius: 20px;
      margin: 0 1rem;
      cursor: pointer;
      transition: all 0.4s ease-in-out; }
      .header__toggle-btn:hover {
        filter: brightness(1.2); }
      .header__toggle-btn::before {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        top: 4px;
        left: 4px;
        background: #252a41; }
      .header__toggle-btn:checked::before {
        left: 34px; }

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem; }
  .main-cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #252a41;
    padding: 1.5rem 2rem;
    border-radius: 7px;
    flex: 1;
    position: relative;
    transition: all 0.4s ease-in-out; }
    .main-cards__card:hover {
      filter: brightness(2); }
  .main-cards__handle {
    display: flex;
    align-items: center; }
    .main-cards__handle-text {
      margin-left: 0.5rem; }
  .main-cards__number {
    font-size: 4rem;
    color: #fff;
    padding: 1rem 0 0 0; }
  .main-cards__follower {
    text-transform: uppercase;
    padding-bottom: 1rem;
    letter-spacing: 5px; }

.border-top {
  position: absolute;
  height: 4px;
  width: 100%;
  top: 0;
  border-radius: 7px 7px 0 0; }

#facebook .border-top {
  background: #198ff5; }

#twitter .border-top {
  background: #1ca0f2; }

#instagram .border-top {
  background: linear-gradient(to right, #fdc468, #df4996); }

#youtube .border-top {
  background: #c4032a; }

#youtube {
  margin-right: 0; }

.overview {
  margin-top: 3rem; }
  .overview__title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .overview__grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }
  .overview__card {
    background: #252a41;
    display: grid;
    justify-content: space-between;
    grid-gap: 2rem;
    grid-template-areas: "text social-icon" "number change";
    border-radius: 7px;
    padding: 1.5rem;
    transition: all 0.4s ease-in-out; }
    .overview__card:hover {
      filter: brightness(2); }
    .overview__card-text {
      grid-area: text; }
    .overview__card-social-icon {
      grid-area: social-icon;
      justify-self: end; }
    .overview__card-number {
      grid-area: number;
      font-size: 2rem;
      color: #fff;
      align-self: flex-end; }
    .overview__card-change {
      grid-area: change;
      align-self: flex-end; }

body.light-theme {
  background-image: linear-gradient(#f5f7ff, #f5f7ff 30%, white); }
  body.light-theme .header__toggle-btn {
    background: #aeb3cb; }
  body.light-theme .header__toggle-btn:hover {
    background: linear-gradient(to right, #378fe6, #3eda82); }
  body.light-theme .header__toggle-btn:before {
    background: white; }
  body.light-theme h1,
  body.light-theme h2,
  body.light-theme .main-cards__number,
  body.light-theme .overview__card-number {
    color: #1e202a; }
  body.light-theme .overview__card,
  body.light-theme .main-cards__card {
    background: #f0f2fa; }
  body.light-theme .main-cards__card:hover,
  body.light-theme .overview__card:hover {
    filter: brightness(90%); }
  body.light-theme .header__total,
  body.light-theme .header__toggle-text,
  body.light-theme .main-cards__handle-text,
  body.light-theme .overview__card-text,
  body.light-theme .overview__title {
    color: #63687e; }

@media (max-width: 1100px) {
  body {
    height: auto; } }

@media (max-width: 685px) {
  .header {
    flex-direction: column;
    align-items: flex-start; }
    .header__text {
      width: 100%;
      position: relative;
      padding-bottom: 2rem; }
      .header__text::after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        height: 2px;
        width: 100%;
        border-bottom: #8b97c6 solid 1px; }
    .header__toggle {
      justify-content: space-between;
      width: 100%;
      padding-top: 1.5rem; } }
