* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    hsl(232, 19%, 15%),
    hsl(232, 19%, 15%) 30%,
    hsl(230, 17%, 14%) 30%
  );
  color: hsl(228, 34%, 66%);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90vw;
  max-width: 1200px;
  padding: 2rem 1rem;
}

.positive-change {
  color: hsl(163, 72%, 41%);

  &::before {
    content: url(/images/icon-up.svg);
    margin-right: 5px;
  }
}

.negative-change {
  color: hsl(356, 69%, 56%);

  &::before {
    content: url(/images/icon-down.svg);
    margin-right: 5px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  &__title {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 2rem;
  }

  &__total {
    font-size: 1rem;
  }

  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    &-text {
      font-size: 1rem;
      color: hsl(228, 34%, 66%);
    }

    &-btn {
      position: relative;
      width: 4rem;
      height: 2rem;
      -webkit-appearance: none;
      background: linear-gradient(
        to right,
        hsl(210, 78%, 56%),
        hsl(146, 68%, 55%)
      );
      outline: none;
      border-radius: 20px;
      margin: 0 1rem;
      cursor: pointer;
      transition: all 0.4s ease-in-out;

      &:hover {
        filter: brightness(1.2);
      }

      &::before {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        top: 4px;
        left: 4px;
        background: hsl(228, 28%, 20%);
      }

      &:checked::before {
        left: 34px;
      }
    }
  }
}

.main-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(228, 28%, 20%);
    padding: 1.5rem 2rem;
    border-radius: 7px;
    flex: 1;
    position: relative;
    transition: all 0.4s ease-in-out;

    &:hover {
      filter: brightness(2);
    }
  }

  &__handle {
    display: flex;
    align-items: center;

    &-text {
      margin-left: 0.5rem;
    }
  }

  &__number {
    font-size: 4rem;
    color: #fff;
    padding: 1rem 0 0 0;
  }

  &__follower {
    text-transform: uppercase;
    padding-bottom: 1rem;
    letter-spacing: 5px;
  }
}

.border-top {
  position: absolute;
  height: 4px;
  width: 100%;
  top: 0;
  border-radius: 7px 7px 0 0;
}

#facebook .border-top {
  background: hsl(208, 92%, 53%);
}

#twitter .border-top {
  background: hsl(203, 89%, 53%);
}

#instagram .border-top {
  background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

#youtube .border-top {
  background: hsl(348, 97%, 39%);
}

#youtube {
  margin-right: 0;
}

.overview {
  margin-top: 3rem;

  &__title {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  &__card {
    background: hsl(228, 28%, 20%);
    display: grid;
    justify-content: space-between;
    grid-gap: 2rem;
    grid-template-areas:
      "text social-icon"
      "number change";
    border-radius: 7px;
    padding: 1.5rem;
    transition: all 0.4s ease-in-out;

    &:hover {
      filter: brightness(2);
    }

    &-text {
      grid-area: text;
    }

    &-social-icon {
      grid-area: social-icon;
      justify-self: end;
    }

    &-number {
      grid-area: number;
      font-size: 2rem;
      color: #fff;
      align-self: flex-end;
    }

    &-change {
      grid-area: change;
      align-self: flex-end;
    }
  }
}

// Light mode styles
body.light-theme {
  background-image: linear-gradient(
    hsl(225, 100%, 98%),
    hsl(225, 100%, 98%) 30%,
    hsl(0, 0%, 100%)
  );

  .header__toggle-btn {
    background: hsl(230, 22%, 74%);
  }
  .header__toggle-btn:hover {
    background: linear-gradient(
      to right,
      hsl(210, 78%, 56%),
      hsl(146, 68%, 55%)
    );
  }

  .header__toggle-btn:before {
    background: hsl(0, 0%, 100%);
  }

  h1,
  h2,
  .main-cards__number,
  .overview__card-number {
    color: hsl(230, 17%, 14%);
  }

  .overview__card,
  .main-cards__card {
    background: hsl(227, 47%, 96%);
  }

  .main-cards__card:hover,
  .overview__card:hover {
    filter: brightness(90%);
  }

  .header__total,
  .header__toggle-text,
  .main-cards__handle-text,
  .overview__card-text,
  .overview__title {
    color: hsl(228, 12%, 44%);
  }
}

@media (max-width: 1300px) {
  body {
    height: auto;
  }
}

@media (max-width: 685px) {
  .header {
    flex-direction: column;
    align-items: flex-start;

    &__text {
      width: 100%;
      position: relative;
      padding-bottom: 2rem;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        height: 2px;
        width: 100%;
        border-bottom: hsl(228, 34%, 66%) solid 1px;
      }
    }

    &__toggle {
      justify-content: space-between;
      width: 100%;
      padding-top: 1.5rem;
    }
  }
}
